<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="X-UA-Compatible" content="IE=edge" />
        <title>View</title>
    </head>
    <body>
        <p>
            This is a basic view of
            <em>node-express-typescript-starter</em> server.
        </p>
        <script src="/js/adblocker.js"></script>
        <script>
            detectAdBlock().then((isAdBlockerEnabled) => {
                if (isAdBlockerEnabled)
                    console.log(
                        'We detected that you have at least an ad blocker enabled. Please disable it.'
                    )
            })
        </script>
    </body>
</html>
